
.Content,h5{
justify-content: center;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.content a{
  width:100px;
  height: 100px;
}
.card{
  margin: 8px;
}
.card img{
  width: 150px;
  height: 150px;
  align-self: center;
}