
.Login-container{
  margin: 50px auto;
display: flex;
justify-content: center;
  width: 450px;
  height: 450px;
border-left: 1px solid rgb(223, 222, 222);
border-radius:4px;
  box-shadow: 4px 1px 2px 1px black;
}
p{
 float: inline-start;
 padding-top: 25px;
}
.Login-Form{
  width: 300px;
  margin-top:32px;


}
.Login-heading{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  width: 250px;
  min-width: 250px;
  background-color: rgb(248, 247, 247);
  height: fit-content;
}
h3,label{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn{
 min-width: 250px;
}
